<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<p>About this medicine</p>

<table>
    <tr>
        <th>Name of medicine</th>
        <th>Name of manufacturer</th>
        <th>City of manufacturer</th>
        <th>Country of manufacturer</th>
        <th>Quantity of volunteer for this medicine</th>
        <th>Side effects</th>
    </tr>
    <tr>
        <td th:utext="${medicineById.medicineName}"></td>
        <td th:utext="${medicineById.getManufacturer().name}"></td>
        <td th:utext="${medicineById.getManufacturer().city}"></td>
        <td th:utext="${medicineById.getManufacturer().countryOfOrigin}"></td>
        <td th:utext="${medicineById.getVolunteer().size()} + ' ' + volunteers"></td>
        <td>
               <span th:if="${sideEffects != null}">
    <div th:each="sideEffect, i: ${sideEffects}">
        <div th:with="result=${(sideEffect.getVolunteerList().size()) /(medicineById.getVolunteer().size())* 100}+ ' %'">
        <span th:utext="${sideEffect.name} + ' was detected in '+ ${result}">        </span>
    </div>
    </span> <br>
        </td>
    </tr>
</table>
<br>

<a th:href="@{~/clinicalResearch/volunteersAllByHabitsInfo}">Find new volunteers for research of this medicine</a>

</body>
</html>