<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h2 style="color: #1A2D61">Information about medicine</h2>

<div class="container-fluid">
    <div class="w-100 p-3" style="background-color: #eee;">
        <div class="row g-1 justify-content-md-center">
            <div class="table-responsive">
                <table class="table table-bordered table-sm table-hover">
                    <thead class="table-light">
                    <div class="col-md-auto">
                        <tr>
                            <th>Name of medicine</th>
                            <th>Name of manufacturer</th>
                            <th>City of manufacturer</th>
                            <th>Country of manufacturer</th>
                            <th>Quantity of volunteer for this medicine</th>
                            <th>Side effects</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr>
                        <td th:utext="${medicineById.medicineName}"></td>
                        <td th:utext="${medicineById.getManufacturer().name}"></td>
                        <td th:utext="${medicineById.getManufacturer().city}"></td>
                        <td th:utext="${medicineById.getManufacturer().countryOfOrigin}"></td>
                        <td th:utext="${medicineById.getVolunteer().size()} + ' ' + volunteers"></td>
                        <td>
                    <span th:if="${sideEffects != null}">
    <div th:each="sideEffect, i: ${sideEffects}">
        <div th:with="result=${100*
        (sideEffect.getVolunteerList().size()) /(medicineById.getVolunteer().size())}+ ' %'">
        <span th:utext="${sideEffect.name} + ' was detected in '+ ${result}">        </span>
    </div>
    </span> <br>
                    </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<br>

<a th:href="@{~/clinicalResearch/volunteersAll}">Find new volunteers for research of this medicine</a>
<footer th:insert="blocks/header :: footer"></footer>
</body>
</html>