<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
    <h2>Registration</h2>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <p>Name: <input type="text" th:field="*{username}"/></p>
        <p>Password: <input type="password" th:field="*{password}"/></p>
        <label>Roles:
            <input type="checkbox" name="roleSet"
                   th:each="role : ${T(com.example.clinicaproject.model.enums.Role).values()}"
                   th:text="${role}"
                   th:value="${role.name}"
                   th:field="*{roleSet}"
            />
        </label>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>
<footer th:insert="blocks/header :: footer"></footer>
</body>
</html>