<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h2 style="color: #2F51AD">Fill in the form of your main habbits</h2>
<form th:action="@{/registrationVolunteerHabitsInfo}" method="post" th:object="${volunteerHabitsInfo}">
    <div class="row g-3 align-items-center">
        <div class="col-3">
            <label for="smoking">Do you smoke?</label></div>
        <div class="col-3">
            <select id="smoking" th:field="*{smoking}">
                <option value="NO">Never smoke or try several times</option>
                <option value="SMOKE_EARLIER">Smoke earlier</option>
                <option value="SMOKE_SEVERAL_TIMES_A_MONTH">Smoke several times a month</option>
                <option value="SMOKE_1_TIME_A_WEEK_OR_MORE_OFTEN">Smoke one time a week or more often</option>
            </select>
            <br>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-3"><label for="takingDrugs">Are you taking drugs?</label></div>
        <div class="col-3">
            <select id="takingDrugs" th:field="*{takingDrugs}">
                <option th:value="NO">No</option>
                <option th:value="NOT_NOW_BUT_EARLIER">Not now, but earlier</option>
                <option th:value="YES">Yes</option>
            </select><br>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-3">
            <label for="takingMedicines">I take any medicine permanently</label></div>
        <div class="col-3">
            <input type="checkbox" id="takingMedicines"/></div>
        <br>
        <div class="row g-3 align-items-center">
            <div class="col-3">
            <span th:if="${volunteer.gender == T(com.example.clinicaproject.model.enums.Gender).FEMALE}">
                <label for="isPregnantNow">I am pregnant now</label></span></div>
            <div class="col-3">
                <span th:if="${volunteer.gender == T(com.example.clinicaproject.model.enums.Gender).FEMALE}">
                    <input type="checkbox" id="isPregnantNow"/><br></span>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-3">
            <span th:if="${volunteer.gender == T(com.example.clinicaproject.model.enums.Gender).FEMALE}">
                <label for="isPlanningPregnancy">Do you planning pregnancy?</label></span></div>
            <div class="col-3">
            <span th:if="${volunteer.gender == T(com.example.clinicaproject.model.enums.Gender).FEMALE}">
            <select id="isPlanningPregnancy" th:field="*{isPlanningPregnancy}" th:default="NOT_PLANNING">
                <option th:value="PLANNING_THIS_YEAR">Planning this year</option>
                <option th:value="PLANNING_A_YEAR_AFTER_OR_LATER">Planning a year after or later</option>
                <option th:value="NOT_PLANNING" selected="selected">Not planning</option>
            </select></span><br>
                <span th:if="${volunteer.gender == T(com.example.clinicaproject.model.enums.Gender).MALE}">
            <input type="checkbox" id="isPregnantNow" th:default="false" hidden/><br>
         <select id="isPlanningPregnancy" th:field="*{isPlanningPregnancy}" hidden>
            <option th:value="NOT_PLANNING" selected="selected" hidden>Not planning</option>
        </select>
    </span><br>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="vegetarian"> I am vegetarian</label></div>
            <div class="col-3">
                <input type="checkbox" id="vegetarian" name="vegetarian"/>
                <br>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="takingHormonalContraceptives">I am taking hormonal contraceptives now</label></div>
            <div class="col-3">
                <input type="checkbox" id="takingHormonalContraceptives"><br>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="sport">Do you make sport in your life?</label></div>
            <div class="col-3">
                <select id="sport" th:field="*{sport}">
                    <option value="NO">No</option>
                    <option value="PROFESSIONAL">I am professional sportsman</option>
                    <option value="AMATEUR_SPORTS">I am amateur sportsman</option>
                </select><br>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="alcohol">How often do you drink alcohol?</label></div>
            <div class="col-3">
                <select id="alcohol" th:field="*{alcohol}">
                    <option value="NO">No at all</option>
                    <option value="EVERY_DAY">Every day</option>
                    <option value="ONLY_ON_HOLIDAYS">Only on holidays</option>
                    <option value="ONE_OR_TWO_TIMES_A_WEEK">One or two times a week</option>
                </select><br></div>
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <input class="btn btn-outline-primary" type="submit" value="Next"/>
                </div>
            </div>
</form>
<footer th:insert="blocks/header :: footer"></footer>
</body>
</html>