<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h2 style="color: #1A2D61">Fill in the form to register as a doctor</h2>
<form th:action="@{/registerDoctor}" method="post" th:object="${doctor}">
    <div class="mb-3 row">
        <label for="firstName" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-3">
            <input class="form-control" placeholder="Ivan" id="firstName" type="text" name="firstName"
                   th:field="*{firstName}" required/>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-3">
            <input class="form-control" id="lastName" placeholder="Ivanov" type="text" name="lastName"
                   th:field="*{lastName}" required/>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="middleName" class="col-sm-2 col-form-label">Middle name</label>
        <div class="col-sm-3">
            <input class="form-control" id="middleName" placeholder="Ivanovich" type="text" name="middleName"
                   th:field="*{middleName}" required/>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="phoneNumber" class="col-sm-2 col-form-label">Phone number</label>
        <div class="col-sm-3">
            <input class="form-control" th:type="text" id="phoneNumber" placeholder="+375*********"
                   th:field="*{phoneNumber}"
                   pattern="^(\+375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})$" required/>
        </div>
        <div class="col-3">
    <span id="passwordHelpInline" class="form-text">
      Format +375(**)*******
    </span></div>
    </div>

    <div><input class="btn btn-outline-primary" type="submit" value="Register"/></div>
</form>
<footer th:insert="blocks/header :: footer"></footer>
</body>
</html>
