<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add medicine</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div>
    Add new medicine for clinical trials. Fill in the following form.
</div>
<form th:action="@{/medicine/add}" method="post" th:object="${medicine}">
    <label for="manufacturer">Choose manufacturer from database:

            <ul th:each="manufacturer, i : ${manufacturers}">
                <input type="radio" id="manufacturer" name="nameManufacturer" th:value="${manufacturer.name}" th:text="${manufacturer.name}">
<!--                <li th:text="${manufacturer.name}"></li>-->
            </ul>
            <p>or</p><br>
            <a th:href="@{/medicine/registerManufacturer}">Add new manufacturer</a>
    </label><br><br><br>
    <label for="medicineName">Name of medicine
        <input id="medicineName" th:type="text" th:field="*{medicineName}" required>
    </label><br>
    <br>
    <input type="submit">
</form>
<footer th:insert="blocks/header :: footer"></footer>
</body>
</html>