<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Smoking</th>
        <th>Take drugs</th>
        <th>Take medicines</th>
        <th>Is pregnant</th>
        <th>Is planning pregnancy</th>
        <th>Vegeterian</th>
        <th>Take hormonal contraceptives</th>
        <th>Sport</th>
        <th>Alcohol</th>
        <th>Volunteer's id</th>
    </tr>
    <tr>
        <form th:action="@{/volunteersAllByHabitsInfo}" th:method="post" th:object="${newVolunteerHabitsInfo}">
            <!--            <th><input type="text" name="keyword" id="keyword" size="50" th:value="${}"/>-->
            <!--            </th>-->
            <th>
                <label for="smoking"></label>
                <select id="smoking" th:field="*{smoking}">
                    <option th:value="NO">no</option>
                    <option th:value="SMOKE_EARLIER">SMOKE_EARLIER</option>
                    <option th:value="SMOKE_SEVERAL_TIMES_A_MONTH">SMOKE_SEVERAL_TIMES_A_MONTH</option>
                    <option th:value="SMOKE_1_TIME_A_WEEK_OR_MORE_OFTEN">SMOKE_1_TIME_A_WEEK_OR_MORE_OFTEN</option>
                </select>
            </th>
            <th></th>
            <th><input type="submit" value="Search"/></th>
        </form>

    </tr>
    <tr th:each="volunteerHabitsInfo, i : ${volunteerHabitsInfos}">
        <td th:utext="${volunteerHabitsInfo.id}"></td>
        <td th:utext="${volunteerHabitsInfo.smoking}"></td>
        <td th:utext="${volunteerHabitsInfo.takingDrugs}"></td>
        <td th:utext="${volunteerHabitsInfo.takingMedicines}"></td>
        <td th:utext="${volunteerHabitsInfo.pregnantNow}"></td>
        <td th:utext="${volunteerHabitsInfo.isPlanningPregnancy}"></td>
        <td th:utext="${volunteerHabitsInfo.vegetarian}"></td>
        <td th:utext="${volunteerHabitsInfo.takingHormonalContraceptives}"></td>
        <td th:utext="${volunteerHabitsInfo.sport}"></td>
        <td th:utext="${volunteerHabitsInfo.alcohol}"></td>
        <td th:utext="${volunteerHabitsInfo.volunteer.id}"></td>
    </tr>
</table>

</body>
</html>