<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<table>
    <tr>
        <th>Id</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Pulse</th>
        <th>Blood Pressure Systolic</th>
        <th>Blood Pressure Diastolic</th>
        <th hidden>Volunteer's id</th>
    </tr>
    <tr th:each="volunteerPrimaryHealthInfo, i : ${volunteerPrimaryHealthInfoAll}">
        <td th:utext="${volunteerPrimaryHealthInfo.id}"></td>
        <td th:utext="${volunteerPrimaryHealthInfo.height}"></td>
        <td th:utext="${volunteerPrimaryHealthInfo.weight}"></td>
        <td th:utext="${volunteerPrimaryHealthInfo.pulse}"></td>
        <td th:utext="${volunteerPrimaryHealthInfo.bloodPressureSystolic}"></td>
        <td th:utext="${volunteerPrimaryHealthInfo.bloodPressureDiastolic}"></td>
        <td th:utext="${volunteerPrimaryHealthInfo.volunteer.id}" hidden></td>
    </tr>
</table>
<footer th:insert="blocks/header :: footer"></footer>
</body>
</html>