<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All volunteers</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h3>All registered volunteers</h3>

<table>
    <tr>
<!--        <th>Date of Birth</th>-->
        <th>Age</th>
        <th>email</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th>Gender</th>
        <th>Phone</th>
    </tr>
    <tr>
        <form th:action="@{/volunteersAllFiltered}" method="post">
<!--            <th>-->
<!--                <label for="DoB"></label>-->
<!--                <input type="date" id="DoB" name="DoB" th:value="${DoB}">-->
<!--            </th>-->
            <th></th>
            <th>
                <label for="email"></label>
                <input type="text" id="email" name="email" th:value="${email}">
            </th>
            <th>
                <label for="firstName"></label>
                <input type="text" id="firstName" name="firstName" th:value="${firstName}">
            </th>
            <th>
                <label for="middleName"></label>
                <input type="text" id="middleName" name="middleName" th:value="${middleName}">
            </th>
            <th>
                <label for="lastName"></label>
                <input type="text" id="lastName" name="lastName" th:value="${lastName}">
            </th>
            <th>
                <label for="gender"></label>
                <select id="gender" name="gender">
                    <option th:value="FEMALE">female</option>
                    <option th:value="MALE">male</option>
                </select>
            </th>
            <th>
                <label for="phoneNumber"></label>
                <input type="number" id="phoneNumber" name="phoneNumber" th:value="${phoneNumber}">
            </th>
            <button type="submit">Add volunteers for trials</button>
        </form>
    </tr>
    <tr th:each="volunteer, i: ${volunteers}">
<!--        <td th:utext="${volunteer.doB}"></td>-->
        <td></td>
        <td th:utext="${volunteer.email}"></td>
        <td th:utext="${volunteer.firstName}"></td>
        <td th:utext="${volunteer.middleName}"></td>
        <td th:utext="${volunteer.lastName}"></td>
        <td th:utext="${volunteer.gender}"></td>
        <td th:utext="${volunteer.phoneNumber}"></td>
    </tr>
</table>

<footer th:insert="blocks/header :: footer"></footer>
</body>
</html>